.toplogos {
    display: flex;
    justify-content: center;

}

.calogo {
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
}
.logoprofile {
    width: 50px;
    margin-bottom: 40px;
    margin-right: 30px;
    border-radius: 50%;
    margin-top: 10px;
}
.logoprofile:hover {
    box-shadow: 0 0 50px #184B0A;
}

.nav_list {
    display: flex;
    justify-content: space-evenly;
    list-style:none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 3px; 
    color:#2F6947;
}

.nav_list a{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.nav_list :hover {
    color: #78AF8F;
}

.nav_link {
    display: block;
    text-align: center;
    text-decoration: none;
    color:inherit;
}

.line {
    width :100%;
    border-bottom: 2px solid #184B0A;
    margin-right: auto;
    margin-left: auto;
}

footer{
    clear: both;
    position: relative;
    height: 150px;
    margin-top: 20px;
    background-color:#E8E0E0;
    font-family:'Work Sans', sans-serif;
    font-weight: bold;
    color: #625D58;
    font-size: 20px;
    padding: 1.5%;
    line-height: 18px;
}
.footers{
    display: flex;
}

.footer1 p,a {
    font-family:'Work Sans', sans-serif;
    color: #625D58;
    font-size: 10px;
}

.footer1_container{
   margin-left: 30px;
   max-width: 100px;
}

.footer2_container{
    margin-left: 30px;
    flex : 2;
 }

.socialimgs{
    float: right;
    width: 5%;
    margin-left: 10px;
    margin-top: 30px;
}

.recipesection{
    background-color: #F8F8F8;
    border: 50px solid #C6BCB3;
    align-content: center;
}

.Searchbtn{
    width: 150px;
    height: 34px;
    position: absolute;
    top: 245px;
    right: 95px;
}

.text{
    text-align: center;
    font-size:  40px;
    color:#163D2A;
    font-family:'Times New Roman', Times, serif;
    padding-top:6%;
    letter-spacing: 2px
}

.subtext{
    text-align: center;
    font-size:  12px;
    color:#a7a3a2;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top:8px;
    padding-bottom: 5px;
    letter-spacing: 2px
}

.recipes{
    padding: 0.5% 3% 0.5% 3%;
    width: 360px;
    height: 448.36px
}

.recipe{
    display: inline;
    border: 6px solid #71706e;
    border-radius: 7px;
    margin: 15px 0px 15px 0px;
    width: 330px;
    height: 411px
}

.Row1, .Row2, .Row3, .Row4{
    text-align: center;
    padding: 2% 2.5% 3% 2.5%
}

.breakfast{
    width: 330px;
    height: 302.5px
}

.pancake{
    width: 330px;
    height: 302.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 90px 20px 0px 30px;
}

.flex-container{
    display: flex;
    text-align: center;
}

.flex-container > div {
    background-color: #C6BCB3;
    margin-left: auto;
    margin-right: auto;
}

.recipename{
    font-family: 'Times New Roman', Times, serif;
    color:#4b4947;
    text-align: center;
    padding: 6% 2% 5% 2%;
    font-size: 25px;
    letter-spacing: 2px;
}

.containers{
    background-color: #F8F8F8;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}

.flex-containers{
    display: flex;
    text-align: center;
}

.flex-containers > div {
    background-color: #F8F8F8;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}

.infos{
    display: flex;
    text-align: center;
}

.infos > div {
    background-color: #F8F8F8;
}

.text1, .text2, .ingredients, .serve{
    color:#4b4947;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 5px 7px 1px 5px;
    border: 20px solid #F8F8F8;
}

.ingredients, .serve{
    list-style-type: decimal;
}

.info{
    border: 10px solid #F8F8F8;
}

.text1{
    text-align: center;
    font-size:  30px;
}

.text2{
    text-align: center;
    font-size:  15px;
}

.title{
    padding-bottom: 15px;
    font-size: 20px
}

li{
    padding-top: 2px;
    padding-left: 5px;
    font-size: 15px
}

.serve{
    width:250px
}

.methodpos{
    border: 20px solid #F8F8F8;
    list-style-type: decimal;
    color:#4b4947;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 5px 7px 1px 5px;
}